

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("cenario.png") no-repeat center center fixed;
    background-size: cover;
}

#imagem {
    width: 5%;
    height: auto;
    position: fixed;
    bottom: 26%;
    left: 10px;



}

.flip-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}