

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("cenario.png") no-repeat center center fixed;
    background-size: cover;
}

#imagem {
    width: 75px;
    height: auto;
    position: fixed;
    bottom: 254px;
    left: 50px;
}